In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [7]:
print(books.isnull().sum())
print("  ")
print(ratings.isnull().sum())
print("  ")
print(users.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
#Age in users is missing a lot (Almost 50%). 
#So it will better if we ignore it.

## Popularity based Recommendation System

In [9]:
# SO here we have to find top 100 books by its rating.

In [10]:
books_with_ratings = ratings.merge(books, on='ISBN')
books_with_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [11]:
num_ratings = books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_ratings.rename(columns={'Book-Rating' : 'Num-Rating'}, inplace=True)
num_ratings

                                               Book-Title  Num-Rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.           2
241067                     Ã?Â?rger mit Produkt X. Roman.           4
241068                                Ã?Â?sterlich leben.           1
241069                              Ã?Â?stlich der Berge.           3
241070                                  Ã?Â?thique en toc           2

[241071 rows x 2 columns]

In [12]:
avg_ratings = books_with_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_ratings.rename(columns={'Book-Rating' : 'Avg-Rating'}, inplace=True)
avg_ratings

                                               Book-Title  Avg-Rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [13]:
final_ratings = avg_ratings.merge(num_ratings, on='Book-Title')
final_ratings

,Book-Title,Avg-Rating,Num-Rating
0,A Light in the Storm: The Civil War Diary of ...,2.250000,4
1,Always Have Popsicles,0.000000,1
2,Apple Magic (The Collector's series),0.000000,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.000000,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.000000,1
...,...,...,...
241066,Ã?Â?lpiraten.,0.000000,2
241067,Ã?Â?rger mit Produkt X. Roman.,5.250000,4
241068,Ã?Â?sterlich leben.,7.000000,1
241069,Ã?Â?stlich der Berge.,2.666667,3
241070,Ã?Â?thique en toc,4.000000,2

In [14]:
top_books = final_ratings[final_ratings['Num-Rating'] > 250]
top_books

,Book-Title,Avg-Rating,Num-Rating
764,1984,4.454225,284
818,1st to Die: A Novel,3.575639,509
1048,2nd Chance,3.269663,356
1760,A Bend in the Road,3.364162,346
2281,"A Child Called \It\"": One Child's Courage to S...",4.086792,265
...,...,...,...
233850,White Oleander : A Novel,3.506460,387
233851,White Oleander : A Novel (Oprah's Book Club),3.772472,356
234740,Wicked: The Life and Times of the Wicked Witch...,3.766871,326
234951,Wild Animus,1.019584,2502
240860,"\O\"" Is for Outlaw""",2.988848,269

In [15]:
top_books = top_books.sort_values('Avg-Rating', ascending=False)
top_books

,Book-Title,Avg-Rating,Num-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428
80422,Harry Potter and the Goblet of Fire (Book 4),5.824289,387
80441,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278
80426,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347
80414,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556
...,...,...,...
227701,Vinegar Hill (Oprah's Book Club (Paperback)),2.245283,265
233635,Whispers,2.199301,286
143377,Presumed Innocent,2.139456,294
94382,Isle of Dogs,2.000000,288
234951,Wild Animus,1.019584,2502

In [16]:
top_100_books = top_books.head(100)
top_100_books

,Book-Title,Avg-Rating,Num-Rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428
80422,Harry Potter and the Goblet of Fire (Book 4),5.824289,387
80441,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278
80426,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347
80414,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556
...,...,...,...
176827,The Beach House,3.347126,435
191926,The Hours: A Novel,3.346939,294
89780,Icy Sparks,3.346278,309
14351,Angela's Ashes (MMP) : A Memoir,3.337423,326
86511,How to Be Good,3.305921,304

In [17]:
top_100_books.duplicated().sum()

0

In [18]:
top_100_books = top_100_books.merge(books, on='Book-Title')
top_100_books = top_100_books.drop_duplicates('Book-Title')
top_100_books

,Book-Title,Avg-Rating,Num-Rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,0590353403,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347,043935806X,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556,0439064872,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...,...,...,...,...
338,The Beach House,3.347126,435,0446612545,James Patterson,2003,Warner Books,http://images.amazon.com/images/P/0446612545.0...,http://images.amazon.com/images/P/0446612545.0...,http://images.amazon.com/images/P/0446612545.0...
344,The Hours: A Novel,3.346939,294,0312305060,Michael Cunningham,2002,Picador,http://images.amazon.com/images/P/0312305060.0...,http://images.amazon.com/images/P/0312305060.0...,http://images.amazon.com/images/P/0312305060.0...
345,Icy Sparks,3.346278,309,0142000205,Gwyn Hyman Rubio,2001,Penguin Books,http://images.amazon.com/images/P/0142000205.0...,http://images.amazon.com/images/P/0142000205.0...,http://images.amazon.com/images/P/0142000205.0...
347,Angela's Ashes (MMP) : A Memoir,3.337423,326,0684872153,Frank McCourt,1999,Scribner,http://images.amazon.com/images/P/0684872153.0...,http://images.amazon.com/images/P/0684872153.0...,http://images.amazon.com/images/P/0684872153.0...
348,How to Be Good,3.305921,304,1573229326,Nick Hornby,2002,Riverhead Books,http://images.amazon.com/images/P/1573229326.0...,http://images.amazon.com/images/P/1573229326.0...,http://images.amazon.com/images/P/1573229326.0...

In [19]:
top_100_books.drop(columns=['ISBN', 'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-L'], inplace=True)
top_100_books

,Book-Title,Avg-Rating,Num-Rating,Book-Author,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,428,J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,387,J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,278,J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,5.501441,347,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),5.183453,556,J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...
338,The Beach House,3.347126,435,James Patterson,http://images.amazon.com/images/P/0446612545.0...
344,The Hours: A Novel,3.346939,294,Michael Cunningham,http://images.amazon.com/images/P/0312305060.0...
345,Icy Sparks,3.346278,309,Gwyn Hyman Rubio,http://images.amazon.com/images/P/0142000205.0...
347,Angela's Ashes (MMP) : A Memoir,3.337423,326,Frank McCourt,http://images.amazon.com/images/P/0684872153.0...
348,How to Be Good,3.305921,304,Nick Hornby,http://images.amazon.com/images/P/1573229326.0...

In [20]:
top_100_books['Book-Title'][0]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [21]:
pickle.dump(top_100_books, open('popular.pkl', 'wb'))

## Collaborative Filtering Based recommadation System

In [22]:
# Here We have to make Recommendation system according to the Users Ratings.
# So will choose Those users which have rated more than 250 books.
# And will Choose Those books which have recieved at least 50 ratings.

In [23]:
books_with_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [24]:
all_users = books_with_ratings.groupby('User-ID').count()['Book-Rating'] > 250
top_users = all_users[all_users].index
top_users

Int64Index([   254,   2276,   2766,   3363,   4385,   6251,   6543,   6575,
              7158,   7346,
            ...
            271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427,
            277639, 278418],
           dtype='int64', name='User-ID', length=613)

In [25]:
rated_by_top_users = books_with_ratings[books_with_ratings['User-ID'].isin(top_users)]
rated_by_top_users

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [26]:
all_books = rated_by_top_users.groupby('Book-Title').count()['Book-Rating'] > 50
top_books = all_books[all_books].index
top_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Fine Balance', 'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       ...
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Wild Animus', 'Winter Moon', 'Winter Solstice', 'Wish You Well',
       'Without Remorse', 'Wuthering Heights',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=552)

In [27]:
final_ratings = rated_by_top_users[rated_by_top_users['Book-Title'].isin(top_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1025422,264317,0833563505,0,The Queen of the Damned (Vampire Chronicles (P...,Anne Rice,1999,Sagebrush Bound,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...,http://images.amazon.com/images/P/0833563505.0...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [28]:
df = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
df

User-ID,254,2276,2766,3363,4385,6251,6543,6575,7158,7346,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [29]:
df.fillna(0, inplace=True)
df

User-ID,254,2276,2766,3363,4385,6251,6543,6575,7158,7346,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(df)
similarity_scores.shape

(552, 552)

In [31]:
similarity_scores[0]

array([1.        , 0.12637786, 0.01584756, 0.        , 0.06583148,
       0.03385487, 0.11008289, 0.05115502, 0.08148567, 0.02528561,
       0.11201804, 0.13898935, 0.03686848, 0.02884216, 0.14484566,
       0.        , 0.16419898, 0.09976166, 0.07853489, 0.10602097,
       0.        , 0.08145112, 0.16474598, 0.15086203, 0.02063386,
       0.09265491, 0.05953712, 0.01842408, 0.11730943, 0.02200686,
       0.06309415, 0.14264106, 0.06807146, 0.05530857, 0.10852474,
       0.08413979, 0.07021361, 0.24599522, 0.11721398, 0.07295562,
       0.05100458, 0.        , 0.05360073, 0.02404746, 0.        ,
       0.06832305, 0.00714473, 0.01734152, 0.        , 0.01533371,
       0.0341894 , 0.05219886, 0.09388237, 0.        , 0.12880359,
       0.00820116, 0.        , 0.13633808, 0.03694742, 0.0605379 ,
       0.08596418, 0.1367329 , 0.03956922, 0.01733014, 0.27319571,
       0.        , 0.12882669, 0.15236586, 0.10145116, 0.07859694,
       0.        , 0.18929695, 0.01364429, 0.0278881 , 0.02517688,
       0.        , 0.06112552, 0.06854235, 0.07776906, 0.05791776,
       0.06708953, 0.08474883, 0.02591172, 0.09218173, 0.02088662,
       0.02077761, 0.08243065, 0.15372763, 0.20196841, 0.06714844,
       0.09472602, 0.04688897, 0.06800289, 0.04472167, 0.05984348,
       0.01253087, 0.02012805, 0.1043477 , 0.        , 0.        ,
       0.        , 0.04240624, 0.11596059, 0.02079512, 0.02966267,
       0.03540456, 0.        , 0.        , 0.02099526, 0.02889566,
       0.12571637, 0.0340296 , 0.13595732, 0.12311199, 0.18478004,
       0.01733635, 0.09884649, 0.05949461, 0.        , 0.03308331,
       0.08910006, 0.01481973, 0.02512515, 0.01709026, 0.19374288,
       0.07619935, 0.03534495, 0.        , 0.17079502, 0.04357775,
       0.        , 0.02362415, 0.24633499, 0.01987647, 0.15545116,
       0.02951399, 0.09619705, 0.0146113 , 0.04181065, 0.06867113,
       0.        , 0.16977824, 0.026865  , 0.1283705 , 0.0785188 ,
       0.16113022, 0.1142097 , 0.03040714, 0.20676045, 0.06638935,
       0.06132866, 0.1291453 , 0.15854936, 0.07411002, 0.07059036,
       0.04207768, 0.        , 0.11054828, 0.05939521, 0.14629552,
       0.04710333, 0.0908843 , 0.10148052, 0.        , 0.04440497,
       0.14754565, 0.01218756, 0.0943071 , 0.12302455, 0.07065046,
       0.12973871, 0.09254138, 0.0788434 , 0.01875885, 0.02329518,
       0.02935773, 0.        , 0.03014468, 0.09333618, 0.02657381,
       0.14976859, 0.06622211, 0.02460825, 0.        , 0.05527022,
       0.05458926, 0.14783158, 0.0175126 , 0.17922361, 0.0929038 ,
       0.06039995, 0.02289303, 0.06113304, 0.02367824, 0.13384125,
       0.12052692, 0.02313062, 0.        , 0.05749697, 0.04372889,
       0.17415003, 0.10125913, 0.08617072, 0.03638092, 0.        ,
       0.11081089, 0.10850569, 0.05497501, 0.01767418, 0.02506883,
       0.11964958, 0.01326451, 0.03504028, 0.02369208, 0.03187836,
       0.12874807, 0.        , 0.02963945, 0.0772381 , 0.        ,
       0.07083197, 0.14154676, 0.025756  , 0.0168956 , 0.05773801,
       0.03576943, 0.02568863, 0.07902575, 0.09578924, 0.15126181,
       0.14513533, 0.15911484, 0.07971779, 0.08340856, 0.10045042,
       0.        , 0.16294936, 0.0140743 , 0.04994689, 0.14082181,
       0.02188318, 0.03498522, 0.08237402, 0.13630464, 0.02015833,
       0.12837101, 0.04509575, 0.0876653 , 0.11164545, 0.02627159,
       0.18248085, 0.        , 0.01483134, 0.02632102, 0.        ,
       0.02536058, 0.01563462, 0.01255153, 0.01937679, 0.09953934,
       0.06947784, 0.07251728, 0.0779287 , 0.        , 0.02554225,
       0.09634191, 0.19789207, 0.08715226, 0.02462473, 0.14614062,
       0.13411161, 0.05184203, 0.1145855 , 0.        , 0.02423777,
       0.07183127, 0.0228569 , 0.06877118, 0.02575464, 0.1699877 ,
       0.        , 0.08023239, 0.11518736, 0.        , 0.03186205,
       0.01852995, 0.01665388, 0.0243239 , 0.08991868, 0.08273965,
       0.1723243 , 0.        , 0.08560961, 0.        , 0.02600397,
       0.01060244, 0.1163401 , 0.07743806, 0.        , 0.10605881,
       0.01864819, 0.12810658, 0.01920315, 0.        , 0.06599884,
       0.13753941, 0.18075397, 0.12203598, 0.02393944, 0.01311046,
       0.03053672, 0.01183912, 0.09446243, 0.02329518, 0.08907409,
       0.02871326, 0.09187015, 0.12116756, 0.07280117, 0.03302612,
       0.04966852, 0.06559227, 0.12681363, 0.1001014 , 0.        ,
       0.15463449, 0.02054604, 0.02697348, 0.12327859, 0.1603812 ,
       0.1131133 , 0.12467724, 0.00868853, 0.07792195, 0.0297724 ,
       0.0323007 , 0.02516296, 0.0600728 , 0.        , 0.06919333,
       0.01679977, 0.        , 0.05717999, 0.08417628, 0.13434789,
       0.11363661, 0.09799859, 0.00464641, 0.06537969, 0.07304591,
       0.        , 0.08589754, 0.13377747, 0.        , 0.0960164 ,
       0.        , 0.15630155, 0.07204225, 0.15966115, 0.07299425,
       0.        , 0.06088064, 0.14995901, 0.00811234, 0.09105329,
       0.06684451, 0.08552542, 0.06055989, 0.26099818, 0.06811268,
       0.09461355, 0.07351316, 0.        , 0.        , 0.11697993,
       0.06035833, 0.02305625, 0.        , 0.01369148, 0.22884131,
       0.07447002, 0.02983099, 0.03655483, 0.09097907, 0.03374668,
       0.08654114, 0.02030334, 0.02785729, 0.02398257, 0.17245703,
       0.11845867, 0.10246973, 0.11528569, 0.17001896, 0.08581466,
       0.1073976 , 0.        , 0.24426841, 0.02783742, 0.07693848,
       0.24898778, 0.06020273, 0.08345284, 0.02898352, 0.02896884,
       0.07846655, 0.0890726 , 0.10253103, 0.20162694, 0.02091322,
       0.01542703, 0.1059675 , 0.10009729, 0.02062596, 0.20078804,
       0.31663755, 0.23014736, 0.06913356, 0.05858069, 0.04667078,
       0.16739662, 0.27754012, 0.17026218, 0.03059069, 0.20134205,
       0.02139811, 0.17128958, 0.08715995, 0.07018335, 0.03915116,
       0.14966816, 0.01310361, 0.08824263, 0.03919909, 0.02405916,
       0.0302329 , 0.18708079, 0.08833906, 0.        , 0.        ,
       0.02321444, 0.05186397, 0.05462687, 0.19147308, 0.01837962,
       0.08856839, 0.07712761, 0.07934613, 0.06256186, 0.17954654,
       0.        , 0.0530642 , 0.02607332, 0.1577368 , 0.02432855,
       0.20637761, 0.        , 0.07465613, 0.09291145, 0.06402997,
       0.08168992, 0.08954585, 0.21850974, 0.0343915 , 0.02149033,
       0.05830092, 0.        , 0.13806794, 0.10901853, 0.15192977,
       0.02769269, 0.07441409, 0.02555492, 0.05325772, 0.0987269 ,
       0.13057768, 0.0367738 , 0.00209701, 0.13459277, 0.09845223,
       0.02796017, 0.01849213, 0.02836929, 0.10166685, 0.02637905,
       0.22609145, 0.06549636, 0.24464114, 0.0758401 , 0.01876547,
       0.09345341, 0.01263561, 0.12761713, 0.09727266, 0.09788169,
       0.28195012, 0.01410566, 0.05538687, 0.17352671, 0.        ,
       0.14685951, 0.07502159, 0.18826967, 0.02464761, 0.11426714,
       0.06374188, 0.19645094, 0.11327426, 0.04654184, 0.05066748,
       0.0347493 , 0.04074128, 0.03445411, 0.03529953, 0.05986589,
       0.13676535, 0.01816488, 0.02589503, 0.09360294, 0.12099393,
       0.1664221 , 0.10068477, 0.01308165, 0.12468436, 0.07457435,
       0.13051064, 0.1690984 , 0.03025064, 0.        , 0.02798818,
       0.        , 0.02295216, 0.        , 0.1297261 , 0.07754118,
       0.11509175, 0.0099187 , 0.09329122, 0.        , 0.05254477,
       0.07096318, 0.09815643, 0.08974984, 0.02094188, 0.04278087,
       0.06743605, 0.01720282, 0.01243305, 0.01066689, 0.1387288 ,
       0.08450515, 0.0521102 ])

In [32]:
def recommend(book_name):
    index = np.where(df.index == book_name)[0][0]
    similar_item = sorted(list(enumerate(similarity_scores[index])), key=lambda x:x[1], reverse=True)[1:5]
    data = []
    for i in similar_item:
        suggestion = []
        temp_df = books[books['Book-Title'] == df.index[i[0]]]
        suggestion.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        suggestion.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        suggestion.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(suggestion)
        
    return data

In [33]:
np.where(df.index == 'Wuthering Heights')[0][0]

548

In [34]:
sorted(list(enumerate(similarity_scores[548])), key=lambda x:x[1], reverse=True)[1:6]

[(20, 0.265374502948997),
 (283, 0.2610078901708743),
 (491, 0.2593083336213588),
 (99, 0.2453765040616382),
 (293, 0.24227475148763428)]

In [35]:
recommend('1984')

[["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg']]

In [36]:
df.index[415]

"The Handmaid's Tale"

In [37]:
pickle.dump(df, open('df.pkl', 'wb'))
pickle.dump(books, open('books.pkl', 'wb'))
pickle.dump(similarity_scores, open('similarity_scores.pkl', 'wb'))